html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(103, 103, 236);
  text-decoration: none;
}

a:hover {
  color: blue;
}

.nav-ul li {
  color: rgb(103, 103, 236);
  cursor: pointer;
}

.nav-ul li:hover {
  color: blue;
}

* {
  box-sizing: border-box;
}

.selection .selected {
  border: 2px solid blue;
}
